body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#header {
	background-color:black;
	position: fixed;
	height: 56px;
	width: 100%;
	top: 0px;
	left: 0px;
	display: flex;
	opacity: 0.8;
	margin: inherit;
	z-index:100;
}

#headertitle {
	width: 16.66%;
	height: 100%;
	display: flex;
	color: white;
	background-color:orange;
	margin: inherit;
	
}

#headertitle h1 {
	margin-bottom: auto;
	margin-top: auto;
}

#container-1 {
	width: 100%;
	background-image: url('media/wallpaper-1-index.png');
	background-position:center;
	background-repeat: no-repeat;
	height: 100vh;
	position: absolute;
	left: 0px;
	top: 0px;
}