body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#header {
	background-color:rgba(0,0,0,0.9);
	position: fixed;
	height: 66px;
	width: 100%;
	top: 0px;
	left: 0px;
	display: flex;
	margin: inherit;
	z-index:100;
	box-shadow: 0px 5px 12px 0px black;
}

#header.headertransition {
	height: 30px;
	transition: height 1s;
}

#headertitle {
	width: 14%;
	height: 100%;
	display: flex;
	color: white;
	background-color:orange;
	margin: inherit;
	justify-content: center;
	padding: 2px;
}

#headertitle img {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}

#container-1 {
	width: 100%;
	background-image: url('media/wallpaper-1-index.png');
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	left: 0px;
	top: 0px;
}

#container-2 {
	width: 100%;
	background-color: black;
	background-position:center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#container-2 div {
	flex: 1;
	background: white;
	min-width: 33%;
	height: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

#container-2 div img {
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
}

#container-3 {
	width: 100%;
	background-image: url('media/Styrke.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;

}