@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@keyframes blink{
0%{opacity: 0.2;padding-bottom: 0px;}
50%{opacity: 1;padding-bottom: 10px;}
100%{opacity: 0.2;padding-bottom: 0px;}
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	scroll-snap-type: y proximity;	
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	scroll-behavior: smooth;
	color:white;
	font-family: 'Quicksand', sans-serif;
}

section {
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}

h1 {
	font-size: 3em;
}


p {
	font-size: 1.2em;
}

#header {
	background-color:rgba(0,0,0,0.9);
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0px;
	left: 0px;
	display: flex;
	margin: inherit;
	z-index:100;
	box-shadow: 0px 5px 12px 0px black;
	transition: height 0.5s, font-size 1s;
	font-size: 1.15em;
}

#header.headertransition {
	height: 35px;
	transition: height 1s, font-size 1s;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 0.95em;
}

#header div a {
	color:white;
	text-decoration: none;
}

#headertitle {
	flex:1;
	height: 100%;
	color: white;
	margin: inherit;
	justify-content: center;
	background-color:rgba(255, 84, 0, 0.8);
	padding: 2px 10px;
	transition: background-color 0.5s;
}

#headertitle.headertransition {
	background-color: rgba(0,0,0,0.00);
	transition: background-color 0.5s;
}

#headertitle img {
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	display: block;
}

#headerbuttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 5;
	color: white;
}

.headerButton {
	display: flex;
	max-width: 25%;
	padding:0 20px;	
	margin: 0 10px;
	transition: background-color 0.5s
}

.headerButton:hover {
	background-color: rgba(255,255,255,0.43);
	transition: background-color 0.5s;
	cursor: pointer;
}

.headerButton a div{
	width: 100%;
	height: 100%;
	background: none;
	display: flex;
}

.headerButton a div p {
	margin:auto;
	font-style: unset;
	font-size: 1em;
	white-space: nowrap;
}

#container-1 {
	width: 100%;
	background-image: url('media/wallpaper-1-index.png');
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	left: 0px;
	top: 0px;
	scroll-snap-align: start;
	display: flex;
	background-blend-mode: color;
	background-color: rgb(0,0,0,0.38)
}

#mainAd {
	width: 80%;
	height: 80%;
	margin: auto;
	display: flex;
}

#mainAd div {
	transform: rotate(-10deg);
	font-size: 1em;
	position: absolute;
	left: 10%;
	top:20%;
	font-family: 'Staatliches', cursive;
	width: 80%;
	transition: font-size 0.5s;
	transition-timing-function: ease-in-out;
}

#mainAd h1 {
	margin-block-start: 0;
	margin-block-end: 0;
}

#container-2 {
	width: 100%;
	background-color: black;
	background-position:center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	scroll-snap-align: start;
}

#sign-up {
	height: 100%;
	display: flex;
	justify-content: center;
	padding-right: 10px;
	padding-left: 10px;
	flex: 1;
	transition: width 0.5s
}

#sign-up div {
	background-color: white;
	border-radius: 5px;
	height: 75%;
	display: flex;
	margin: auto;
	width: 100%;
	color: #ff5400;
	transition: color 0.5s, background-color 0.5s;
}

#sign-up div:hover {
	background-color: #ff5400;
	color:white;
	transition: color 0.5s, background-color 0.5s;
	cursor: pointer;
}

#sign-up div p {
	margin: auto;
	font-size: 0.9em;
	font-weight: bold;
}

#sign-up.sign-up-transition {
	width:10%;
	transition: width 1s;
}

.navboxes {
	flex: 1;
	background: black;
	min-width: 33%;
	height: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.navboxes img {
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.8;
	transition: filter 1s, transform 1s, opacity 1s;
}

.navboxes img:hover {
	filter: blur(5px);
	transition: filter 1s, transform 1s, opacity 1s;
	transform: scale(1.1);
	opacity: 1;
}

.navboxes div {
	position: absolute;
	height: inherit;
	display: flex;
	pointer-events : none;
}

.navboxes div h1 {
	position: relative;
	color: white;
	margin: auto;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 16px black;
	font-size: 2em;
	letter-spacing: 0.05em;
}

#container-3 {
	background-image: url('media/Styrke.png');
}

#container-4 {
	background-image: url('media/Løpe.png');
}

#container-5 {
	background-image: url('media/Svømmehall.png');
}

#container-6 {
	background-image: url('media/Boksing.png');
}

#container-7 {
	background-image: url('media/Yoga.png');
}

#container-8 {
	background-image: url('media/Gruppetrening.png');
}

.infocontainers {
	width: 100%;
	background-color: rgba(0,0,0,0.50);
	background-blend-mode: color;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	display: flex;
	scroll-snap-align: start;
}

.infobox {
	margin: auto 30% auto 10%;
	color: white;
}

.read-more {
	background-color: rgba(255,255,255,1.00);
	width: 100px;
	line-height: 8px;
	text-align: center;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	color: #ff5400;
	opacity: 0.6;
	transition: opacity 0.5s;
}

.read-more:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

.read-more p {
	font-style: normal;
}

.read-more a {
	text-decoration: none;
	color:unset;
	width: 100%;
	height: 100%;
}

#scrollArrow {
	border:none;
	width:20%;
	position: absolute;
	bottom:0;
	left: 40%;
	right: 40%;
	opacity: 0.5;
	animation: blink 2.5s ease-in-out infinite;
}

#container-9 {
	background-color: rgba(255, 84, 0, 1);
	position: relative;
	scroll-snap-align: start;
	display: flex;
}

#aboutUs {
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
	width: 80%;
	height: 60%;
	margin: auto;
	color: white;
	padding-top: 35px;
}

#aboutUsInfo {
	height: 85%;
	flex: 2;
	max-width: 50%;
	overflow: auto;
}

#aboutUsInfo p {
	font-size: 1.3em;
}

#aboutUsContact {
	height: 85%;
	flex: 2;
	max-width: 50%;
	align-content: center;
	display: flex;
	font-size: 1.1em;
	line-height: 45px;
}

#aboutUsContact div {
	width: 60%;
	height: 60%;
	margin: auto;
}

#aboutUsContact h2 {
	margin-block-end: -10px;
}

#aboutUsSocialMedia {
	height: 15%;
	display: flex;
	flex-direction: row;
	flex: 1;
	min-width: 100%;
}

.aboutUsSocialMediaInnerDiv {
	flex:2;
	display: flex;
	flex-wrap: nowrap;
	height: 90%;
	opacity: 0.6;
	transition: opacity 0.5s;
}

.aboutUsSocialMediaInnerDiv:hover {
	opacity: 1;
	transition: opacity 0.5s;
}

.aboutUsSocialMediaInnerDiv div img {
	height: 100%;
}

.aboutUsSocialMediaInnerDiv p {
	margin: auto 10px;
}

.infopagesContainer {
	background-size: cover;
	background-position: center;
	overflow: hidden;
	z-index: 0;
	position: absolute;
	font-size: 1.5em;
}

.infopagesInnerContainer {
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 75px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	transition-timing-function: ease-in-out;
	box-sizing: border-box;
}

.infopagesInnerContainer::before {
	display: block;
	position: fixed;
	content: ' ';
	background-size: cover;
	opacity: 1;
	overflow: hidden;
	width: 80%;
	height: 100%;
	left:10%;
	top:0;
	background-position: center;
	background-color: rgba(0,0,0,0.5);
	background-blend-mode: color;
	background-repeat: no-repeat;
	box-shadow: 0 0 20px 5px black;
	transition: opacity 0.5s;
	z-index: -1;
}

.infopagesContainer h1 {
	font-family: 'Staatliches', cursive;
	margin-block-end: 0;
	color: #ff5400;
}

.infopagesContainer span {
	margin-block-end: 0.83em;
	font-style: italic;
	font-weight: bold;
}

.infopagesContainer p img {
	position: relative;
	width: 40%;
	float: right;
	margin: 5%;
}

.infopagesContainer p {
	font-size: 0.95em;
}

#gruppetreningBG {
	background-image: url("media/Gruppetrening.png");
}

#gruppetreningInnerBG::before {
	background-image: url("media/Gruppetrening-blured.png");
}

#styrkeBG {
	background-image: url('media/Styrke.png')
}

#styrkeInnerBG::before {
	background-image: url('media/Styrke-blured.png')
}

#yogaBG {
	background-image: url('media/Yoga.png')
}

#yogaInnerBG::before {
	background-image: url('media/Yoga-blured.png')
}

#boksingBG {
	background-image: url('media/Boksing.png')
}

#boksingInnerBG::before {
	background-image: url('media/Boksing-blured.png')
}

#lopingBG {
	background-image: url('media/Løpe.png')
}

#lopingInnerBG::before {
	background-image: url('media/Løpe-blured.png')
}

#svommehallBG {
	background-image: url('media/Svømmehall.png')
}

#svommehallInnerBG::before {
	background-image: url('media/Svømmehall-blured.png')
}


#signUpPopUp {
	width: 60vw;
	height: 50vh;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	z-index: 1000;
	margin: 25vh 20vw;
	border-radius: 10px;
	opacity: 1;
	transition: display 0.5s;
	display: none;
	flex-direction: row;
	opacity: 0;
	transition: opacity 0.5s;
	left:0;
	top:0;
}

form {
	color: #ff5400;
	margin: auto;
	width: 70%;
	font-size: 1.3em;
}

form div {
	margin: 5%;
}


form div label {
	margin-right: 10px;
}

#signUpPopUp div {
	flex:1;
	display: flex;
}

#signUpPopUp img {
	margin: auto;
	width: 70%;
}

#signUpPopUp h1 {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 2em;
}

#signUpPopUpBG {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.6);
	display: none;
	opacity:0;
	transition: opacity 0.5s;
}

#contactPopUp div {
	flex:1;
	display: flex;
}

#contactPopUp img {
	margin: auto;
	width: 70%;
}

#contactPopUp h1 {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 2em;
}

#contactPopUpBG {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.6);
	display: none;
	opacity:0;
	transition: opacity 0.5s;
}

#contactPopUp {
	width: 60vw;
	height: 50vh;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	z-index: 1000;
	margin: 25vh 20vw;
	border-radius: 10px;
	opacity: 1;
	transition: display 0.5s;
	display: none;
	flex-direction: row;
	opacity: 0;
	transition: opacity 0.5s;
	left:0;
	top:0;
}


#senterBG {
	background-image: url('media/wallpaper-1-index.png')
}

#senterInnerBG::before {
	background-image: url('media/wallpaper-1-index-blured.png')
}
